<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.dispCard.CardReportMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<sql id="CommonQualification">
		AND t1.issuedStation = t2.orgCode
		AND t1.status = t3.constantValue
		AND t3.kind = '11'
		<if test="orgName != null and orgName != ''">
			AND t2.orgName like '%${orgName}%'
		</if>
		<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
			AND t1.issuedStation = '${orgCode}'
		</if>
		<if test="money != null and money != ''">
			AND t1.value = '${money}'
		</if>
	</sql>
	
	<sql id="time">
		<if test="startDate != null and startDate != ''">
			AND t1.issuedDate &gt;= '${startDate}'
		</if>
		<if test="endDate != null and endDate != ''">
			AND t1.issuedDate &lt;= '${endDate}'
		</if>
	</sql>
	
	<sql id="SummaryComPart">
		SELECT
			count(1) totalNum, sum(value) as amount
		FROM
			disp_card,
			sys_constant,
			sys_orga
		WHERE
			issuedStation = orgCode
			AND status = constantValue
			AND kind = '11'
			AND disp_card.delFlag = '0'
			AND sys_orga.delFlag = '0'
		<choose>
			<when test="orgNum != null and orgNum != ''">
				AND issuedStation = '${orgNum}'
			</when>
			<otherwise>
				<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
					AND issuedStation = '${orgCode}'
				</if>
			</otherwise>
		</choose>
		<if test="startDate != null and startDate != ''">
			AND issuedDate &gt;= '${startDate}'
		</if>
		<if test="endDate != null and endDate != ''">
			AND issuedDate &lt;= '${endDate}'
		</if>
	</sql>
	
	<select id="findIssuedData" resultType="com.banxian.entity.dispCard.IssuedInfoMap">
		SELECT
			t1.code as code,
			t1.value as value,
			t2.orgName as orgName,
			t1.issuedDate as issuedDate
		FROM
			disp_card t1,
			sys_orga t2,
			sys_constant t3
		WHERE
			t1.status &lt;&gt; '3'
			AND t1.delFlag = '0'
			AND t2.delFlag = '0'
			<include refid="CommonQualification" />
			<include refid="time" />
		ORDER BY t1.issuedDate desc, t1.code
	</select>
	
	<select id="findUsedData" resultType="com.banxian.entity.dispCard.UsedInfoMap">
		SELECT
			t1.code as code,
			t1.value as value,
			t2.orgName as issuedStaName,
			t4.orgName as usedStaName,
			DATE_FORMAT(t1.usedTime,'%Y-%m-%d %H:%i:%s') AS usedTime
		FROM
			disp_card t1,
			sys_orga t2,
			sys_constant t3,
			sys_orga t4
		WHERE
			t1.usedStation = t4.orgCode
			AND t1.status = '2'
			AND t1.delFlag = '0'
			AND t2.delFlag = '0'
			AND t4.delFlag = '0'
			<include refid="CommonQualification" />
			<if test="usedStaName != null and usedStaName != ''">
				AND t4.orgName like '%${usedStaName}%'
			</if>
			<if test="startDate != null and startDate != ''">
				AND t1.usedTime &gt;= '${startDate}'
			</if>
			<if test="endDate != null and endDate != ''">
				AND t1.usedTime &lt;= '${endDate}'
			</if>
		ORDER BY t1.usedTime desc, t1.code
	</select>
	
	<select id="findUnusedData" resultType="com.banxian.entity.dispCard.UnusedInfoMap">
		SELECT
			tp.code as code,
			tp.value as value,
			tp.issuedStaName as issuedStaName,
			GROUP_CONCAT(tp.useAbledStation SEPARATOR ',') useAbledStation,
			tp.issuedDate as issuedDate,
			tp.indate as indate
		FROM
		(
			SELECT
				t1.code as code,
				t1.value as value,
				t2.orgName as issuedStaName,
				t4.orgName as useAbledStation,
				t1.issuedDate as issuedDate,
				t1.indate as indate
			FROM
				disp_card t1 left join sys_orga t4 on
					t1.useAbledStation like CONCAT('%',t4.orgCode,'%')
					AND t4.delFlag = '0',
				sys_orga t2,
				sys_constant t3
			WHERE
				t1.status = '1'
				AND t2.delFlag = '0'
				AND t1.delFlag = '0'
				<include refid="CommonQualification" />
				<include refid="time" />
				<if test="inDate != null and inDate != ''">
					AND t1.indate &lt;= '${inDate}'
				</if>
			ORDER BY t1.indate, t1.code
		) tp
		GROUP BY tp.code
		ORDER BY tp.indate, tp.code
	</select>
	
	<select id="findSummaryData" resultType="com.banxian.entity.dispCard.SummaryInfoMap">
		SELECT
			t1.totalNum as issueTotal,
			t1.amount as issueAmount,
			t2.totalNum as usedTotal,
			t2.amount as usedAmount,
			t3.totalNum as useAbleTotal,
			t3.amount as useAbleAmount,
			t4.totalNum as outDateTotal,
			t4.amount as outDateAmount
		FROM
			(
			<include refid="SummaryComPart" />
			AND status &lt;&gt; '3'
			) t1,
			(
			<include refid="SummaryComPart" />
			AND status = '2'
			) t2,
			(
			<include refid="SummaryComPart" />
			AND status = '1'
			) t3,
			(
			<include refid="SummaryComPart" />
			AND status = '4'
			) t4
	</select>
	
</mapper>