<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.banxian.mapper.dispCard.DispCardMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	
	<sql id="CommonQualification">
		<!-- common -->
	</sql>
	
	<select id="findSpecificationData" resultType="com.banxian.entity.dispCard.SpecInfoMap">
		SELECT
			tp.id as id,
			tp.code as code,
			tp.value as value,
			tp.issuedStation as issuedStation,
			tp.issuedDate as issuedDate,
			GROUP_CONCAT(tp.useAbledStation SEPARATOR ',') useAbledStation,
			tp.indate as indate,
			tp.status as status,
			tp.usedStation as usedStation,
			DATE_FORMAT(tp.usedTime,'%Y-%m-%d %H:%i:%s') as usedTime
		FROM
			(
			SELECT
				t1.id as id,
				t1.code as code,
				t1.value as value,
				case when t1.status &lt;&gt; '3' then
					t2.orgName
				when t1.status = '3' then
					''
				end as issuedStation,
				t1.issuedDate as issuedDate,
				t4.orgName as useAbledStation,
				t1.indate as indate,
				t3.constantName as status,
				t5.orgName as usedStation,
				t1.usedTime as usedTime
			FROM
				disp_card t1 left join sys_orga t5 on
					t1.usedStation = t5.orgCode
					and t5.delFlag = '0'
					left join sys_orga t4 on
						t1.useAbledStation like CONCAT('%',t4.orgCode,'%')
						and t4.delFlag = '0',
				sys_orga t2,
				sys_constant t3
			WHERE
				((t1.status = '3' and t1.createStation = t2.orgCode)
				or (t1.status &lt;&gt; '3' and t1.issuedStation = t2.orgCode))
				and t2.delFlag = '0'
				and t1.status = t3.constantValue
				and t3.kind = '11'
				and t1.delFlag = '0'
				<if test="status != null and status != ''">
					and t1.status = '${status}'
				</if>
				<choose>
				<when test="issuedStaName != null and issuedStaName != ''">
					and t2.orgName like '%${issuedStaName}%'
				</when>
				<otherwise>
					<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
						and ((t1.status = '3' and t1.createStation = '${orgCode}')
						or (t1.status &lt;&gt; '3' and t1.issuedStation = '${orgCode}'))
					</if>
				</otherwise>
				</choose>
				<if test="code != null and code != ''">
					and t1.code = '${code}'
				</if>
				<if test="money != null and money != ''">
					and t1.value = '${money}'
				</if>
				<if test="startDate != null and startDate != ''">
					and t1.issuedDate &gt;= '${startDate}'
				</if>
				<if test="endDate != null and endDate != ''">
					and t1.issuedDate &lt;= '${endDate}'
				</if>
				<if test="inDate != null and inDate != ''">
					and t1.indate &lt;= '${inDate}'
				</if>
			ORDER BY t1.status, t1.code
			) tp
		GROUP BY tp.code
		ORDER BY tp.status, tp.indate, tp.code
	</select>
	
	<select id="findIndexPage" resultType="com.banxian.entity.dispCard.DispCardMap">
		SELECT
			tp.id as id,
			tp.code as code,
			tp.value as value,
			tp.status as status,
			GROUP_CONCAT(tp.useAbledStation SEPARATOR ',') useAbledStation,
			tp.issuedDate as issuedDate,
			tp.indate as indate
		FROM 
		(
			SELECT
				t1.id as id,
				t1.code as code,
				t1.value as value,
				t3.constantName as status,
				t2.orgName as useAbledStation,
				t1.issuedDate as issuedDate,
				t1.indate as indate
			FROM
				disp_card t1,
				sys_orga t2,
				sys_constant t3
			WHERE
				t1.useAbledStation like concat('%',t2.orgCode,'%')
				and t2.delFlag = '0'
				and t1.status = '1'
				and t1.status = t3.constantValue
				and t3.kind = '11'
				and t1.delFlag = '0'
				<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
					and t1.issuedStation = '%${orgCode}%'
				</if>
				<if test="code != null and code != ''">
					and t1.code = '${code}'
				</if>
			ORDER BY t1.status, t1.indate, t1.code
		) tp
		GROUP BY tp.code
		ORDER BY tp.indate, tp.code
	</select>
	
	<update id="consumeCard" parameterType="com.banxian.entity.dispCard.ConsumeCardInfoMap">
		UPDATE
			disp_card
		SET
			status = '2',
			usedStation = '${orgCode}',
			usedTime = '${nowDate}',
			operCode = '${operCode}',
			updateTime = '${nowDate}'
		WHERE
			code = '${code}'
			and value = '${value}'
			and status = '1'
			and indate &gt;= '${nowDate}'
			and delFlag = '0'
			<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
				and useAbledStation like '%${orgCode}%'
			</if>
	</update>
	
	<select id="findByCardId" resultType="com.banxian.entity.dispCard.ConsumeCardInfoMap">
		SELECT
			id,
			code,
			value,
			status,
			indate,
			useAbledStation
		FROM
			disp_card
		WHERE
			id = '${cardId}'
	</select>
	
	<update id="issueCard" parameterType="com.banxian.entity.dispCard.DispCardMap">
		UPDATE
			disp_card
		SET
			status = '1',
			indate = '${nextYearDate}',
			useAbledStation = '${useAbledStation}',
			operCode = '${operCode}',
			remark = '${description}',
			updateTime = '${nowDate}',
			issuedDate = '${issuedDate}'
		WHERE
			code = '${code}'
			and status = '3'
			and delFlag = '0'
			<if test="value != null and value != ''">
				and value = '${value}'
			</if>
	</update>
	
	<select id="findMaxCardId" resultType="String">
		SELECT
			max(code) as maxCode
		FROM
			disp_card
		WHERE
			status = '3'
			and updateTime &gt;= '${startTime}'
			and updateTime &lt;= '${nowdate}'
	</select>
	
	<select id="findCreateCardInfo" resultType="com.banxian.entity.dispCard.DispCardMap">
		SELECT
			t1.id as id,
			t1.code as code,
			t1.password as password,
			t1.value as value,
			t2.orgName as station,
			DATE_FORMAT(
			t1.updateTime,
			'%Y-%m-%d %H:%i:%s'
			) AS updateTime
		FROM
			disp_card t1,
			sys_orga t2
		WHERE
			t1.createStation = t2.orgCode
			and t2.delFlag = '0'
			and t1.delFlag = '0'
			<if test="roleKey != 'admin' and orgCode != null and orgCode != ''">
				and t1.createStation = '${orgCode}'
			</if>
			<if test="money != null and money != ''">
				and t1.value = '${money}'
			</if>
			<choose>
			<when test="(startDate == null or startDate == '') and (endDate == null or endDate == '')">
				and DATE_FORMAT(t1.updateTime,'%Y-%m-%d') = '${nowDate}'
			</when>
			<otherwise>
				<if test="startDate != null and startDate != ''">
					and t1.updateTime &gt;= '${startDate}'
				</if>
				<if test="endDate != null and endDate != ''">
					and t1.updateTime &lt;= '${endDate}'
				</if>
			</otherwise>
			</choose>
		ORDER BY id
	</select>
	
	<insert id="insertNewData" parameterType="com.banxian.entity.dispCard.DispCardMap">
		INSERT INTO disp_card
		(code,
		password,
		value,
		status,
		createStation,
		delFlag,
		operCode,
		updateTime
		)
		VALUES
		('${code}',
		'${password}',
		'${money}',
		'3',
		'${orgCode}',
		'0',
		'${operCode}',
		'${nowDate}'
		)
	</insert>
	
	<update id="changeStatus">
		UPDATE
			disp_card
		SET
			status = '4',
			operCode = null,
			remark = '过期',
			updateTime = DATE_FORMAT(sysdate(),'%Y-%m-%d %H:%i:%s')
		WHERE
			status = '1'
			and delFlag = '0'
			and indate &lt; DATE_FORMAT(sysdate(),'%Y-%m-%d')
	</update>
	
	<update id="deleteData" parameterType="com.banxian.entity.dispCard.DispCardMap">
		UPDATE
			disp_card
		SET
			delFlag = '1',
			operCode = '${operCode}',
			updateTime = DATE_FORMAT(sysdate(),'%Y-%m-%d %H:%i:%s')
		WHERE
			id = '${cardId}'
			and delFlag = '0'
	</update>
	
	<update id="editCardData" parameterType="com.banxian.entity.dispCard.DispCardMap">
		UPDATE
			disp_card
		SET
			status = '${status}',
			operCode = '${operCode}',
			remark = '${description}'
			updateTime = DATE_FORMAT(sysdate(),'%Y-%m-%d %H:%i:%s')
		WHERE
			id = '${id}'
			and code = '${code}'
			and value = '${value}'
			and delFlag = '0'
	</update>
</mapper>